<div style ="width:233px;max-height:244px;">
    <a href="/AcademicCalender/Index">
        <table>
            <tr>
                <td colspan ="5">
                    <div style="min-width:220px;max-width: 220px;min-height:150px;max-height:150px;margin-top:5px;margin-right:5px;margin-left:5px;background-color:lightpink">
                        อู่นี้พนักงานต้อนรับทำงานรวดเร็วดี
                    </div>
                </td>
            </tr>
            <tr>
                <td class="abb"><img class="abb" src="@Url.Content("~/Images/garage/star.png")"/></td>
                <td class="abb"><img class="abb" src="@Url.Content("~/Images/garage/star.png")"/></td>
                <td class="abb"><img class="abb" src="@Url.Content("~/Images/garage/star.png")"/></td>
                <td class="abb"><img class="abb" src="@Url.Content("~/Images/garage/star.png")"/></td>
                <td class="abb"><img class="abb" src="@Url.Content("~/Images/garage/star.png")"/></td>
            </tr>
             <tr>
                <td class="abb"><img class="abb" src="@Url.Content("~/Images/garage/creditstar.png")"/></td>
                <td class="abb"><img class="abb" src="@Url.Content("~/Images/garage/creditstar.png")"/></td>
                <td class="abb"><img class="abb" src="@Url.Content("~/Images/garage/creditstar.png")"/></td>
                <td class="abb"><img class="abb" src="@Url.Content("~/Images/garage/creditstar.png")"/></td>
                <td class="abb"><img class="abb" src="@Url.Content("~/Images/garage/creditstar.png")"/></td>
            </tr>
        </table>     
            
            @*<img style="max-width: 35px;min-height:35px;" src="@Url.Content("~/Images/garage/star.png")"/>
            <img style="max-width: 35px;min-height:35px;" src="@Url.Content("~/Images/garage/star.png")"/>
            <img style="max-width: 35px;min-height:35px;" src="@Url.Content("~/Images/garage/star.png")"/>
            <img style="max-width: 35px;min-height:35px;" src="@Url.Content("~/Images/garage/star.png")"/>
            <img style="max-width: 35px;min-height:35px;" src="@Url.Content("~/Images/garage/star.png")"/>*@
    </a>
</div>
<style>
    .abb {
        max-width: 35px;
        min-height:35px;
    }
</style>