<div style ="width:233px;max-height:244px;">
    <a href="/AcademicCalender/Index">
        <table style="background-color:lightpink">
            <tr>
                <td colspan ="5">
                    <img style="min-width:220px;max-width: 220px;min-height:150px;max-height:150px;margin-top:5px;margin-right:5px;margin-left:5px;" src="@Url.Content("~/Images/safety/safety1.jpg")"/>
                </td>
            </tr>
            <tr>
                <td class="abb"><div>ประกันภัยอาคเนย์สุดยอดแห่งประกัน</div></td>
            </tr>
        </table>     
            
            @*<img style="max-width: 35px;min-height:35px;" src="@Url.Content("~/Images/garage/star.png")"/>
            <img style="max-width: 35px;min-height:35px;" src="@Url.Content("~/Images/garage/star.png")"/>
            <img style="max-width: 35px;min-height:35px;" src="@Url.Content("~/Images/garage/star.png")"/>
            <img style="max-width: 35px;min-height:35px;" src="@Url.Content("~/Images/garage/star.png")"/>
            <img style="max-width: 35px;min-height:35px;" src="@Url.Content("~/Images/garage/star.png")"/>*@
    </a>
</div>
<style>
    .abb {
        max-width: 35px;
        min-height:35px;
    }
</style>